/* General reset and box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling with background image */
body {
    background: url('https://wallpapercave.com/wp/Y0StpXn.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Container styling to center and enclose the form */
.container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 200px; /* Ancho fijo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}


/* Title styling to make it more prominent */
h2 {
    font-size: 2.5em; /* Larger font size */
    font-weight: 700; /* Bolder text */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px; /* Space below the title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
    border-bottom: 3px solid #03010e; /* Gold bottom border */
    padding-bottom: 10px;
}

/* Form labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Form inputs and selects */
input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
button[type="submit"],
button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}

/* Table styling */
.table-responsive {
    margin-top: 20px;
}

.table-striped th,
.table-striped td {
    vertical-align: middle;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}







