body {
    background: url('https://wallpapercave.com/wp/Y0StpXn.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    width: 300px; 
    height: auto; 
}
